form {
	min-width: 0;
}

button,
textarea,
[type="text"],
[type="submit"] {
	font-family: inherit;
	font-size: 1rem;
	min-width: 0;
	max-width: 100%;
	padding: 10px;
	border-radius: 2px;
	margin: 0;
}

textarea,
[type="text"] {
	color: var(--c-white);
	background-color: var(--c-black-tp);
	padding: 10px;
	border: 0;
}

button,
[type="submit"] {
	text-underline-position: under;
	color: var(--c-white);
	background-color: var(--c-background-2);
	border: none;
	-webkit-appearance: none;
	appearance: none;
}
button:focus,
button:hover,
[type="submit"]:hover,
[type="submit"]:focus {
	text-decoration: underline;
}
button.unstyled,
[type="submit"].unstyled {
	background-color: transparent;
	padding: 0;
}
button.unstyled [fill]:not([fill*="none"]),
[type="submit"].unstyled [fill]:not([fill*="none"]) {
	fill: var(--c-white);
}
button.unstyled [stroke]:not([stroke*="none"]),
[type="submit"].unstyled [stroke]:not([stroke*="none"]) {
	stroke: var(--c-white);
}

/**
 * Placeholder styling.
 * Avoid using CSS variables in pseudo elements.
 * See 'Known issues' here https://caniuse.com/#feat=css-variables.
 * Seems to affect OSX Safari too.
 */
::-webkit-input-placeholder { /* Old Chrome/Opera/Edge */
	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
	opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	opacity: 1;
}
::placeholder { /* Latest Chrome/Safari/Firefox */
	color: #fff;
	opacity: 1;
}