html {
	--c-white: hsl(0, 0%, 100%);
	--c-white-tp: hsla(0, 0%, 100%, .5);
	--c-black: hsl(0, 0%, 0%);
	--c-black-tp: hsla(0, 0%, 0%, .5);
	--c-blue: hsl(162, 100%, 50%);
	--c-yellow: hsl(40, 100%, 50%);
	--c-background-1: hsl(246, 40%, 18%);
	--c-background-2: hsl(332, 100%, 40%);
	--c-background-3: hsl(40, 100%, 40%);

	font-family: neon;
	color: var(--c-white);
	/* We set the background on my-app instead, due to (OSX) Firefox being unable to render it when HTML position is fixed. */
	/* background: linear-gradient(to bottom, var(--c-background-1) 20%, var(--c-background-2) 80%, var(--c-background-3)); */
	width: 100%;
	height: 100%;
	position: fixed; /* Prevent scroll on iOS. */
	top: 0;
	left: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}